#durationYear{
    margin-top: -5%;
    margin-left: 79%;
}

.timeline-panel{
    height: 430px;
}

.dataAnalyst{
    margin-top: 8%;
    margin-left: -47%;
}

.timeline-badge.t2{
    background-color: blue;
}

#durationYear2{
    margin-top: -5%;
    margin-left: 72%;
}

.timeline-panel.second{
    height: 360px;
}