<div class="section" id="experience">
    <div class="container ">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div>
            <div>
                <div>
                    <div class="col-lg-12 ">
                        <div>
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge t2">
                                        <i class="fas fa-building"></i>
                                    </div>
                                    <div class="timeline-panel second">
                                        <div class="row">
                                            <div class="col-lg-9 ">
                                                <div class="h5 mt-2 title">
                                                    <a href="https://www.geojittechnologies.com/">Geojit Technologies
                                                        Pvt. Ltd     (2022- Present)</a>
                                                </div>
                                                <p>Geojit Technologies Pvt. Ltd. (GTL) is a globally focused software
                                                    solutions
                                                    provider.
                                                    GTL provides smart software solutions to help banking and financial
                                                    enterprises
                                                    manage change.
                                                </p>

                                                <div class="h6 mt-0 title">
                                                    <i class="fas fa-briefcase"></i>&nbsp;
                                                    <b>Junior Software Engineer- Trainee</b> &nbsp; &nbsp;
                                                    <span>(2022- Present)</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li class="list">Core Functionality</li>
                                                    <ul>
                                                        <li class="non_list">Web Development</li>
                                                        <li class="non_list">Software Development</li>
                                                    </ul>
                                                    <li class="list">Technologies and Framework</li>
                                                    <ul>
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">MySql</li>
                                                        <li class="non_list">Git Lab</li>
                                                    </ul>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge up bg-green">
                                        <i class="fas fa-building"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="row">
                                            <div class="col-lg-9 ">
                                                <div class="h5 mt-2 title">
                                                    <a href="https://dentcaredental.com/">DentCare Dental Lab Pvt. Ltd    (2018- 2021)</a>
                                                </div>
                                                <p>Dentcare work as a team to provide products and services of superlative quality.
                                                    Dedicated to elevate the experience of clinicians in the dental fraternity
                                                </p>
                
                                                <div class="h6 mt-0 title">
                                                    <span class="k-icon k-i-user"></span>&nbsp;
                                                    <b>Administrative associate- All India sales and Marketing</b> &nbsp;
                                                    <span>(2018 - 2020)</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <ul>
                                                    <li class="list">Core Functionality</li>
                                                    <ul>
                                                        <li class="non_list">Team Management</li>
                                                        <li class="non_list">Documentation</li>
                                                        <li class="non_list">Sales Growth Analytics</li>
                                                    </ul>
                                                </ul>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="h6 mt-2 mx-3 title ">
                                                <span class="k-icon k-i-user"></span>&nbsp;
                                                <b>Data Analyst- Quality Assurance</b> &nbsp; &nbsp;
                                                <span>(2020 - 2021)</span>
                                            </div><br>
                                            <div class="col-lg-10">
                                                <ul>
                                                    <li class="list">Core Functionality</li>
                                                    <ul>
                                                        <li class="non_list">Data Management</li>
                                                        <li class="non_list">Data visualization</li>
                                                        <li class="non_list">Descriptive and Predictive Analytics</li>
                                                    </ul>
                                                </ul>
                                            </div>
                                        </div>
                
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>