.section{ 
    padding: 70px 0;
    position: relative;
    background: #FFFFFF;
    margin-left: 0%;
}

.card{
    width: 929px;
    margin-left: 103px;
    height: 180px;
}

b{
    font-weight:bolder;
}

.card-body{
    background-color: darkcyan;
    width: 25%;
 .music{  
    margin-left: 6%;
    .fa-music{
        font-size: 320%;
        margin-left: 0%;
    }
    b{
        font-size: 15px;
        margin-left: 6%;
    }
 }
}

.card-body{
    background-color: darkcyan;
 .travel{
    margin-left: 0%;
    .fa-bus{
        font-size: 320%;
        margin-left: 25%;
    }
    b{
        font-size: 15px;
    }
 }
}  

.card-body{
    background-color: darkcyan;
 .photography{
    margin-left: 0%;
    .fa-camera{
        font-size: 320%;
        margin-left: 25%;
    }
    b{
        font-size: 13px;
        word-wrap: break-word;
    }
 }
}

.coding{
    margin-left: 13%;
}

.volleyball{
    margin-left: 13%;
}
