<div class="section">
    <div class="card" data-sr-id="12"
        style=" visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
        <div class="h4 text-center mb-2 title">Interests</div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="music">
                        <i class="fas fa-music"></i><br>
                        <b>Music</b>
                    </div>
                </div>
            </div>

            <div class="col-md-7" style="margin-left: -30%;" data-aos="fade-right" data-aos-offset="50" 
            data-aos-duration="500">
                <div class="card-body" style="width: 25%;">
                    <div class="travel">
                        <i class="fas fa-bus"></i><br>
                        <b>Travelling</b>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="margin-left: -37%;"  data-aos-offset="50" 
            data-aos-duration="500">
                <div class="card-body" style="width: 30%;">
                    <div class="photography">
                        <i class="fas fa-camera"></i><br>
                        <b>Photography</b>
                    </div>
                </div>
            </div>

            <div class="column" style="margin-left: -26%;" data-aos="fade-left" data-aos-offset="50" 
            data-aos-duration="500">
                <div class="card-body" style="width: 130%;">
                    <div class="coding">
                        <i class="fa fa-code" style="font-size: 320%;"></i><br>
                        <b>Coding</b>
                    </div>
                </div>
            </div>

            <div class="column" style="margin-left: 10%;" data-aos="fade-left" data-aos-offset="50" 
            data-aos-duration="500">
                <div class="card-body" style="width: 119%;">
                    <div class="volleyball">
                        <i class="fas fa-volleyball-ball" style="font-size: 320%;"></i><br>
                        <b>volleyball</b>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>