<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHdlYiUyMGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="profile-image">
                        <a href="">
                            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFdEGPJda7vRw/profile-displayphoto-shrink_200_200/0/1645970090857?e=1665619200&v=beta&t=D-YlVGNyTIYNNZ8DbrjbTPP-bjfYG-X7t1z_0NjbiDI"
                                alt="image" />
                        </a>
                    </div>
                    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
                        <h1>Basil T Joy</h1>
                        <p><span class="typed"></span></p>
                    </div>
                    <a class="btn btn-primary"
                        href="https://drive.google.com/file/d/1mJbDLANEo0XOzHOnVeeTj2GZ3CFIqTCp/view?usp=sharing"
                        target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
                            target="_blank" rel="tooltip" title="Follow me on Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>

                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/basiltjoy"
                            target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>

                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" rel="tooltip"
                            title="Connect with me through Mail">
                            <i class="fas fa-envelope"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>